.movie-details {
    margin: 0 70px 30px 30px;
}

.movie-details-info {
    margin-left: 40px;
}

.movie-details-poster {
    width: 100%;
}

.movie-details-title-row {
    margin: 20px 0;
}

.movie-details-title {
    display: block;
    color: #f55263;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.movie-details-year-duration {
    margin: 20px 0;
}

.movie-details-year, .movie-details-duration {
    font-weight: bold;
}
