label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.search-bar {
    box-sizing: border-box;
    background: #222222;
    border: none;
    border-bottom: 3px solid #f55263;
    color: #eeeeee;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
