@import '../../common/styles/variables';

.search-form {
    margin: 0 70px 15px;

    & label {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
    }

    &__bar {
        box-sizing: border-box;
        background: $black;
        border: none;
        border-bottom: 3px solid $pink;
        color: $lightGray;
        padding: 1em;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
    }

    &__button {
        display: block;
        margin-left: auto;
        padding: 8px 50px;
    }
}
