@import '../../../common/styles/variables';

.button {
    border: none;
    background: $darkGray;
    font-size: 14px;
    padding: 4px 12px;
    color: $lightGray;
    text-transform: uppercase;
    border-radius: 3px;

    &--active {
        background: $pink;
    }

    &--inversed-active {
        background: $white;
        color: $pink;
    }
}
