<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">

        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="msapplication-tap-highlight" content="no"/>

        <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
        <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">

        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>

    <body>
        <div id="app"></div>
    </body>
</html>
