// overriding of default normalize-scss variables
$base-font-family: Georgia, Sans-Serif;

@import "~normalize-scss/sass/normalize/import-now";
@import "~flexboxgrid-sass/flexboxgrid";

@import "./common/styles/variables";

html, body {
  width: 100%;
  height: 100%;
}

.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
}
